# PyCharm
.ijwb
.idea

# Bazel
bazel-bin
bazel-bio-normalizers
bazel-out
bazel-testlogs

**/data/**/*.txt
!bionorm/common/SieveBased/data/*.txt
**/data/**/*.nt
sync-normalizers.sh

# Build
bionorm.egg-info
dist
